@using QEQ2.Models;
@model Usuarios

@{
    ViewBag.Title = "Categoria";
}
<h2>@Session["Usuario"]</h2>

<h2>Categoria</h2>
@foreach (Categoria x in ViewBag.Categorias)
{
    <br>@Html.ActionLink("Insertar", "AccionCategoria", "BackOffice", new { Accion = "Insertar", IdCategoria = x.IdCategoria }, null)<br>
    <tr>
        <td class="Texto"><h4>@x.Nombre</h4></td>
        <td class="Texto">@Html.ActionLink("Modificar", "AccionCategoria", "BackOffice", new { Accion = "Modificar", IdCategoria = x.IdCategoria }, null)</td>
        <br>
        <td class="Texto">@Html.ActionLink("Eliminar", "AccionCategoria", "BackOffice", new { Accion = "Eliminar", IdCategoria = x.IdCategoria }, null)</td>
        <br />
    </tr>
}
