@using QEQ2.Models;
@model  Usuarios
@{
    ViewBag.Title = "HomeBackOffice";
}

<h1>BackOffice</h1>
<h2>@Session["Usuario"]</h2>
<p>
    En este menú se encuentran 4 botones con los cuales podrá visualizar, crear y eliminar el contenido del juego.
</p>


<td><p><a href="@Url.Action("Categoria","BackOffice")" class="btn btn-warning btn-lg">Categoria &raquo;</a></p></td>
<td><p><a href="@Url.Action("Preguntas","BackOffice")" class="btn-success btn-lg">Preguntas&raquo;</a></p></td>
<td><p><a href="@Url.Action("Personaje","BackOffice")" class="btn btn-primary btn-lg">Personaje&raquo;</a></p></td>
<td><p><a href="@Url.Action("LogOut","BackOffice")" class="btn-success btn-lg">LogOut&raquo;</a></p></td>
